html{
    background-color:blueviolet;
    font-family: "susan", sans-serif;
}
.site-header {
    background-color:aquamarine;
    color:darkviolet;
     font-family: "Valley Sans", sans-serif;
    font-size:50px;
    line-height: 52px;
    font-weight:300;
    text-align:center;
}   
.callout {
    color:darkturquoise
}
.address {
    text-align:right;
}